* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(#e0ffe0, #f0f0ff);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  text-align: center;
  padding: 40px;
  background: #3a6b35;
  color: white;
  border-bottom: 10px solid #d9a441;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
}

.intro {
  text-align: center;
  padding: 30px;
  font-size: 1.2em;
  background-color: #fff8dc;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 30px;
  background: #f7f7f7;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  width: 300px;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  display: block;
  color: #3a6b35;
}

/* Quando passa o mouse no card inteiro */
.card:hover {
  background-color: #3a6b35;
  color: white;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h2 {
  margin: 10px 0 5px;
  font-size: 1.4em;
}

.card p {
  font-size: 1em;
   line-height: 1.6;
}

footer {
  background: #3a6b35;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.rodape-centralizado {
  position: relative;
  background: #3a6b35;
  color: white;
  text-align: center;
  padding: 20px 40px;
}

.logo-parana-esquerda {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 230px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.logo-parana-esquerda:hover {
  opacity: 1;
}
.acessibilidade {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 20px;
  background: #f0f0f0;
}

.acessibilidade button {
  font-size: 1em;
  padding: 6px 12px;
  background-color: #3a6b35;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.acessibilidade button:hover {
  background-color: #2e4f29;
}